<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Facial Intelligence</title>
		<link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}" />

		<!-- styling -->
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	</head>

	<body>
		<header>
			<a href="/" class="title">Facial Intelligence</a>
			<a href="/">home</a>
		</header>
		<h3 style="text-align: center; opacity: 0.3;">We recommend reducing the width of the browser window to get the best experience</h3>
		<main>
			<a href="/detection" class="image-link">
				<img src="{{ url_for('static', filename='assets/detection.svg') }}" alt="detection link" />
				<span>detection</span>
			</a>

			<a href="/recognition" class="image-link">
				<img src="{{ url_for('static', filename='assets/recognition.svg') }}" alt="recognition link" />
				<span>recognition</span>
			</a>

			<a href="/create-profile" class="image-link not-implemented">
				<img src="{{ url_for('static', filename='assets/create-profile.svg') }}" alt="recognition link" />
				<span>create profile</span>
			</a>
		</main>

		<section style="text-align: center;">
			<h3>by Pernille & Stephan</h1>
		</section>
	</body>
</html>
