body {
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

header {
    padding: 1rem;
    height: 8rem;

    display: flex;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #888;
}

header a {
    color: #888;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

header .title {
    color: #bbb;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem;
}

main {
    position: relative;
    width: 100%;
    left: 0px;

    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: all 500ms;
}

.not-implemented {
    opacity: .2;
}

.image-link {
    width: 30%;

    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: .7;
    transition: all 100ms;
}

.image-link img {
    margin: 1rem;
    width: 100%;
}

.image-link:hover {
    font-size: 1.8rem;
    opacity: 1;
    width: 35%;
}

.progress {
    text-align: center;
}

.progress span {
    color: #888;
    font-weight: bold;
    font-style: italic;
    opacity: 1;
}

.progress .unloaded {
    opacity: .5;
}

.slide {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slide form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide form .submit-button {
    margin: 2rem;
    padding: .8rem;
    width: 10rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.slide form .submit-button:hover {
    background-color: dodgerblue;
    color: #fff;
}

.image {
    width: 80%;
    max-width: 650px;
    border-radius: 2rem;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .2);
}

.animate-loading {
    width: 60vw;
    box-shadow: none;
    border-radius: none;
}

.animate-loading {
    animation: load_animation 2s infinite;
}

*:focus {
    outline: none;
}

@keyframes load_animation {
    0% {
        opacity: .2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}